@import "tailwindcss";

@theme {
  --font-sans: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  --font-display: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  --font-serif: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  
  --color-brand-primary: #8B6D5C;
  --color-brand-secondary: #B08A78;
  --color-brand-accent: #F1E4DC;
  --color-brand-bg: #FCF8F5;
}
